workflows/Fireflies Meeting Summary.json
{
  "name": "Fireflies Meeting Summary",
  "nodes": [
    {
      "parameters": {
        "content": "## Przetworzenie treści transkryptu",
        "height": 304,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7008,
        992
      ],
      "typeVersion": 1,
      "id": "0ccd9a97-dd24-4e16-abec-4f0630d843a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Dystrybucja i obsługa zadań",
        "height": 480,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7904,
        992
      ],
      "typeVersion": 1,
      "id": "ed9e2d97-5929-4886-abcc-e992f55ea156",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "Jesteś asystentem AI, który przetwarza notatki ze spotkań i zarządza dystrybucją zadań.\n\nWYKONUJ KROKI W TEJ KOLEJNOŚCI:\n\n## KROK 1: ANALIZA I EKSTRAKCJA DANYCH\n\n1.1 PRZEANALIZUJ treść notatki ze spotkania z dokumentu Google Doc.\n\n1.2 WYODRĘBNIJ tytuł spotkania z pola \"Temat:\" i zapisz go jako meeting_subject.\n\n1.3 WYODRĘBNIJ wszystkie adresy email uczestników z treści notatki (pole \"Invited:\" lub \"Uczestnicy:\").\n\n1.4 WYODRĘBNIJ adres URL transkrypcji z pola \"URL:\" w dokumencie.\n\n## KROK 2: PRZYGOTOWANIE TREŚCI HTML\n\n2.1 SFORMATUJ CAŁĄ notatkę ze spotkania jako kompletny dokument HTML:\n   - Użyj <h1> dla głównego tytułu.\n   - Dodaj adres URL transkrypcji natychmiast po tytule H1 jako klikalny link: <p><a href=[URL]>Pełna transkrypcja</a></p>\n   - Użyj <h2> dla nagłówków sekcji (np. Podsumowanie, Streszczenie w punktach itp.).\n   - Użyj <h3> dla nagłówków podsekcji.\n   - Użyj <p> dla akapitów.\n   - Użyj <ul> i <li> dla list punktowanych.\n   - Użyj <strong> dla wyróżnień/pogrubień.\n   - Zadbaj o odpowiednie odstępy i łamanie linii.\n\n2.2 ZAPISZ sformatowaną treść HTML jako meeting_note_content. Ta SAMA treść zostanie wysłana do wszystkich uczestników.\n\n## KROK 3: WYSYŁKA DO UCZESTNIKÓW\n\n3.1 TYLKO JEŚLI lista uczestników nie jest pusta I meeting_note_content jest kompletny:\n   - Dla KAŻDEGO adresu email z listy uczestników wywołaj narzędzie \"Wyślij do uczestników\" DOKŁADNIE RAZ.\n   - Parametry narzędzia:\n     * participant_email: adres email konkretnego uczestnika\n     * meeting_subject: tytuł z kroku 1.2\n     * meeting_note_content: pełna notatka HTML z kroku 2.2 (ta sama dla wszystkich)\n\n3.2 ŚLEDŹ, do których uczestników już wysłałeś. NIE wysyłaj do tego samego uczestnika więcej niż raz.\n\n## KROK 4: ZADANIA DO OMNIFOCUS\n\n4.1 ZIDENTYFIKUJ wszystkie zadania (action items) przypisane do osoby \"Dariusz Młynarski\".\n\n4.2 TYLKO JEŚLI są zadania dla Dariusza Młynarskiego, dla KAŻDEGO zadania:\n   - Wywołaj narzędzie \"Wyślij do Omnifocus\" z parametrami:\n     * task_title: Krótka definicja zadania\n     * task_body: Szczegółowy opis zadania + rekomendacja AI/automatyzacji:\n       [Szczegółowy opis zadania]\n       \n       Wskazówka (Tip): [Rekomendacja, czy to zadanie można oddelegować narzędziom AI lub zautomatyzować, a jeśli tak – konkretne sugestie wdrożenia]\n\nKRYTYCZNE ZASADY:\n- ZAKOŃCZ całkowicie krok 2 (przygotowanie HTML) PRZED rozpoczęciem kroku 3 (wysyłka).\n- Każdy uczestnik = DOKŁADNIE JEDNO wywołanie narzędzia \"Wyślij do uczestników\".\n- Ta SAMA treść meeting_note_content dla wszystkich uczestników.\n- NIE wywołuj narzędzia jeśli którykolwiek wymagany parametr jest pusty, undefined lub niekompletny.\n- Jeśli lista uczestników jest pusta, POMIŃ krok 3 całkowicie.\n- Jeśli nie ma zadań dla Dariusza Młynarskiego, POMIŃ krok 4 całkowicie.\n- ZAWSZE podawaj pełne, kompletne wartości dla wszystkich parametrów narzędzi."
        }
      },
      "id": "f0da8adf-7476-4301-b877-e86489c736c7",
      "name": "Analyze Meeting Note & Send Emails",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        8032,
        1088
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "2cbf3f5f-e69e-816e-bf4d-d2338a0b6b26",
          "mode": "list",
          "cachedResultName": "Dariusz's Fireflies Meetings",
          "cachedResultUrl": "https://www.notion.so/2cbf3f5fe69e816ebf4dd2338a0b6b26"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        7072,
        1088
      ],
      "id": "974039f4-5cee-4bd2-af35-c19cd9cb56ed",
      "name": "Notatka FF dodana do Notion",
      "credentials": {
        "notionApi": {
          "id": "wtQ5TgFEr7k2NnRM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1i9OtWYctBw5BWZFsBe5zDunhTh2Utnsk",
        "title": "={{ $json.Title }} - {{ DateTime.fromISO($json.Date.start).toFormat('yyyy-MM-dd HH:mm') }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        7296,
        1088
      ],
      "id": "29349eb6-395f-4893-a405-9714ec6ffac3",
      "name": "Tworzenie GDoc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7Etj1FfR5bMX4E59",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Temat: {{ $('Notatka FF dodana do Notion').item.json.Title }}\nData: {{ DateTime.fromISO($('Notatka FF dodana do Notion').item.json.Date.start).toFormat('yyyy-MM-dd HH:mm') }}\nURL: {{ $('Notatka FF dodana do Notion').item.json.Transcript }}\nHost: {{ $('Notatka FF dodana do Notion').item.json.Host }}\nUczestnicy:\n{{ $('Notatka FF dodana do Notion').item.json.Invited.join('\\n') }}\n\n##Podsumowanie:\n\n{{ $('Notatka FF dodana do Notion').item.json.Overview }}\n\n##Streszczenie w punktach:\n\n{{ $('Notatka FF dodana do Notion').item.json['Bullet Notes'] }}\n\n##Streszczenie pełne:\n\n{{ $('Notatka FF dodana do Notion').item.json['New Summary'] }}\n\n##Action items / zadania i osoba odpowiedzialna:\n\n{{ $('Notatka FF dodana do Notion').item.json['Action Items'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        7520,
        1088
      ],
      "id": "38a3b07e-3c59-4ca4-a9ce-ce69c798cceb",
      "name": "Dodanie treści do Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7Etj1FfR5bMX4E59",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Tworzenie GDoc').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        7744,
        1088
      ],
      "id": "09df8791-d1f1-4564-a611-5a7009dadd34",
      "name": "Pobranie treści",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7Etj1FfR5bMX4E59",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ String($fromAI('participant_email') || 'placeholder@example.com') }}",
        "subject": "={{ String($fromAI('meeting_subject') || 'Meeting Notes') }}",
        "message": "={{ String($fromAI('meeting_note_content') || 'No content') }}",
        "options": {}
      },
      "id": "f651bbd0-c37c-4322-94ab-ff3f2dce36c0",
      "name": "Wyślij do uczestników",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        8096,
        1312
      ],
      "webhookId": "33fc85af-5cf5-4754-8936-f8775e7953f4",
      "credentials": {
        "gmailOAuth2": {
          "id": "MB1IHeXzh73YBtF2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dmlynarski.uw5sm@sync.omnigroup.com",
        "subject": "={{ String($fromAI('task_title') || 'Task from meeting') }}",
        "emailType": "text",
        "message": "={{ String($fromAI('task_body') || 'No description') }}",
        "options": {}
      },
      "id": "ed0c521c-b857-4839-ac44-ce994ac0fc80",
      "name": "Wyślij do Omnifocus",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        8224,
        1312
      ],
      "webhookId": "b770e2c6-a606-4353-80e4-b7960f9b03d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "MB1IHeXzh73YBtF2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "3caf1e9b-c277-44d6-9102-cfdf9af5c40b",
      "name": "Analiza",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        7952,
        1264
      ],
      "credentials": {
        "anthropicApi": {
          "id": "C9gF94cLFy7o1HXb",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notatka FF dodana do Notion": {
      "main": [
        [
          {
            "node": "Tworzenie GDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tworzenie GDoc": {
      "main": [
        [
          {
            "node": "Dodanie treści do Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dodanie treści do Doc": {
      "main": [
        [
          {
            "node": "Pobranie treści",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobranie treści": {
      "main": [
        [
          {
            "node": "Analyze Meeting Note & Send Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wyślij do uczestników": {
      "ai_tool": [
        [
          {
            "node": "Analyze Meeting Note & Send Emails",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wyślij do Omnifocus": {
      "ai_tool": [
        [
          {
            "node": "Analyze Meeting Note & Send Emails",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analiza": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Meeting Note & Send Emails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "versionId": "c91587dc-9442-4bf6-a529-157d4e6d44fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5041f641934aa792852904835b502128e2ce798bfd58498a58d29cc32ad3791"
  },
  "id": "65oIMSHcPrg2IdoW",
  "tags": [
    {
      "updatedAt": "2025-12-07T19:11:29.649Z",
      "createdAt": "2025-12-07T19:11:29.649Z",
      "id": "dlcjIsNmmUQmjsXC",
      "name": "automation"
    },
    {
      "updatedAt": "2025-12-18T10:02:18.602Z",
      "createdAt": "2025-12-18T10:02:18.602Z",
      "id": "ucE2xSqoJOjmcPRF",
      "name": "productivity"
    }
  ]
}