workflows/Fireflies Meeting Summary.json
{
  "name": "Fireflies Meeting Summary",
  "nodes": [
    {
      "parameters": {
        "content": "## Przetworzenie treści transkryptu",
        "height": 304,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7008,
        992
      ],
      "typeVersion": 1,
      "id": "0ccd9a97-dd24-4e16-abec-4f0630d843a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Dystrybucja i obsługa zadań",
        "height": 480,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7904,
        992
      ],
      "typeVersion": 1,
      "id": "ed9e2d97-5929-4886-abcc-e992f55ea156",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "Jesteś asystentem AI, który wyodrębnia zadania (action items) z notatek ze spotkań.\n\nTwoje zadanie:\n\n1. PRZEANALIZUJ treść notatki ze spotkania z dokumentu Google Doc.\n\n2. ZIDENTYFIKUJ wszystkie zadania (action items) przypisane do osoby \"Dariusz Młynarski\".\n   - Szukaj w sekcji \"Action items\" lub \"zadania i osoba odpowiedzialna\"\n   - Uwzględnij tylko zadania przypisane konkretnie do: Dariusz Młynarski\n\n3. TYLKO JEŚLI są zadania dla Dariusza Młynarskiego, dla KAŻDEGO zadania:\n   - Wywołaj narzędzie \"Wyślij do Omnifocus\" DOKŁADNIE RAZ\n   - Parametry narzędzia:\n     * task_title: Krótka, zwięzła definicja zadania (max 10 słów)\n     * task_body: Szczegółowy opis zadania + rekomendacja AI/automatyzacji w formacie:\n       [Szczegółowy opis zadania]\n       \n       Wskazówka (Tip): [Rekomendacja, czy to zadanie można oddelegować narzędziom AI lub zautomatyzować, a jeśli tak – konkretne sugestie wdrożenia]\n\nKRYTYCZNE ZASADY:\n- Jedno zadanie = DOKŁADNIE JEDNO wywołanie narzędzia \"Wyślij do Omnifocus\"\n- NIE wywołuj narzędzia jeśli którykolwiek wymagany parametr jest pusty\n- Jeśli nie ma żadnych zadań dla Dariusza Młynarskiego, NIE wywołuj narzędzia wcale\n- ZAWSZE podawaj pełne, kompletne wartości dla task_title i task_body"
        }
      },
      "id": "f0da8adf-7476-4301-b877-e86489c736c7",
      "name": "Extract Tasks for OmniFocus",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        8192,
        1312
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "2cbf3f5f-e69e-816e-bf4d-d2338a0b6b26",
          "mode": "list",
          "cachedResultName": "Dariusz's Fireflies Meetings",
          "cachedResultUrl": "https://www.notion.so/2cbf3f5fe69e816ebf4dd2338a0b6b26"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        7072,
        1088
      ],
      "id": "974039f4-5cee-4bd2-af35-c19cd9cb56ed",
      "name": "Notatka FF dodana do Notion",
      "credentials": {
        "notionApi": {
          "id": "wtQ5TgFEr7k2NnRM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c8f3e1a2-4b5d-6e7f-8a9b-0c1d2e3f4a5b",
              "leftValue": "={{ $json.Invited }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Filtr: tylko z uczestnikami",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        7184,
        1088
      ]
    },
    {
      "parameters": {
        "folderId": "1i9OtWYctBw5BWZFsBe5zDunhTh2Utnsk",
        "title": "={{ $json.Title }} - {{ DateTime.fromISO($json.Date.start).toFormat('yyyy-MM-dd HH:mm') }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        7296,
        1088
      ],
      "id": "29349eb6-395f-4893-a405-9714ec6ffac3",
      "name": "Tworzenie GDoc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7Etj1FfR5bMX4E59",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Temat: {{ $('Notatka FF dodana do Notion').item.json.Title }}\nData: {{ DateTime.fromISO($('Notatka FF dodana do Notion').item.json.Date.start).toFormat('yyyy-MM-dd HH:mm') }}\nURL: {{ $('Notatka FF dodana do Notion').item.json.Transcript }}\nHost: {{ $('Notatka FF dodana do Notion').item.json.Host }}\nUczestnicy:\n{{ $('Notatka FF dodana do Notion').item.json.Invited.join('\\n') }}\n\n##Podsumowanie:\n\n{{ $('Notatka FF dodana do Notion').item.json.Overview }}\n\n##Streszczenie w punktach:\n\n{{ $('Notatka FF dodana do Notion').item.json['Bullet Notes'] }}\n\n##Streszczenie pełne:\n\n{{ $('Notatka FF dodana do Notion').item.json['New Summary'] }}\n\n##Action items / zadania i osoba odpowiedzialna:\n\n{{ $('Notatka FF dodana do Notion').item.json['Action Items'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        7520,
        1088
      ],
      "id": "38a3b07e-3c59-4ca4-a9ce-ce69c798cceb",
      "name": "Dodanie treści do Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7Etj1FfR5bMX4E59",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Tworzenie GDoc').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        7744,
        1088
      ],
      "id": "09df8791-d1f1-4564-a611-5a7009dadd34",
      "name": "Pobranie treści",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7Etj1FfR5bMX4E59",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pobierz treść dokumentu\nconst docContent = $input.item.json.content;\n\n// Parsuj nagłówek używając regex (działa zarówno dla jednej linii jak i wielu)\nlet meetingSubject = '';\nlet transcriptUrl = '';\nconst participants = [];\n\n// Wyciągnij Temat (wszystko między \"Temat:\" a \"Data:\")\nconst subjectMatch = docContent.match(/Temat:\\s*(.+?)\\s*Data:/s);\nif (subjectMatch) {\n  meetingSubject = subjectMatch[1].trim();\n}\n\n// Wyciągnij URL (wszystko między \"URL:\" a \"Host:\")\nconst urlMatch = docContent.match(/URL:\\s*(.+?)\\s*Host:/s);\nif (urlMatch) {\n  transcriptUrl = urlMatch[1].trim();\n}\n\n// Wyciągnij uczestników (wszystko między \"Uczestnicy:\" a pierwszym \"##\" lub końcem sekcji nagłówka)\nconst participantsMatch = docContent.match(/Uczestnicy:\\s*(.+?)(?=##|$)/s);\nif (participantsMatch) {\n  const participantsText = participantsMatch[1];\n  // Wyciągnij wszystkie emaile używając regex\n  const emailMatches = participantsText.matchAll(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g);\n  for (const match of emailMatches) {\n    participants.push(match[0]);\n  }\n}\n\n// Usuń duplikaty z listy uczestników\nconst uniqueParticipants = [...new Set(participants)];\n\n// Formatuj treść jako HTML\nlet htmlContent = docContent;\n\n// Zamień nagłówki ##\nhtmlContent = htmlContent.replace(/^##\\s*(.+)$/gm, '<h2>$1</h2>');\n// Zamień nagłówki ###\nhtmlContent = htmlContent.replace(/^###\\s*(.+)$/gm, '<h3>$3</h3>');\n// Dodaj link do transkrypcji\nif (transcriptUrl) {\n  htmlContent = `<h1>${meetingSubject}</h1>\\n<p><a href=\"${transcriptUrl}\">Pełna transkrypcja</a></p>\\n\\n${htmlContent}`;\n} else {\n  htmlContent = `<h1>${meetingSubject}</h1>\\n\\n${htmlContent}`;\n}\n// Zamień linie z punktorami na listy HTML\nhtmlContent = htmlContent.replace(/^[•\\*]\\s*(.+)$/gm, '<li>$1</li>');\n// Owij <li> w <ul>\nhtmlContent = htmlContent.replace(/(<li>.*<\\/li>)/gs, '<ul>$1</ul>');\n// Zamień pogrubienia **text**\nhtmlContent = htmlContent.replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>');\n// Zamień puste linie na <p>\nhtmlContent = htmlContent.split('\\n\\n').map(para => para.trim() ? `<p>${para}</p>` : '').join('\\n');\n\n// Utwórz osobny item dla każdego uczestnika\nconst output = uniqueParticipants.map(email => ({\n  json: {\n    participant_email: email,\n    meeting_subject: meetingSubject,\n    meeting_note_html: htmlContent\n  }\n}));\n\nreturn output;"
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Parse & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7968,
        1088
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.participant_email }}",
        "subject": "={{ $json.meeting_subject }}",
        "emailType": "html",
        "message": "={{ $json.meeting_note_html }}",
        "options": {}
      },
      "id": "f651bbd0-c37c-4322-94ab-ff3f2dce36c0",
      "name": "Wyślij do uczestników",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        8192,
        1088
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "MB1IHeXzh73YBtF2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dmlynarski.uw5sm@sync.omnigroup.com",
        "subject": "={{ String($fromAI('task_title') || 'Task from meeting') }}",
        "emailType": "text",
        "message": "={{ String($fromAI('task_body') || 'No description') }}",
        "options": {}
      },
      "id": "ed0c521c-b857-4839-ac44-ce994ac0fc80",
      "name": "Wyślij do Omnifocus",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        8224,
        1312
      ],
      "webhookId": "b770e2c6-a606-4353-80e4-b7960f9b03d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "MB1IHeXzh73YBtF2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "3caf1e9b-c277-44d6-9102-cfdf9af5c40b",
      "name": "Analiza",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        7952,
        1264
      ],
      "credentials": {
        "anthropicApi": {
          "id": "C9gF94cLFy7o1HXb",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notatka FF dodana do Notion": {
      "main": [
        [
          {
            "node": "Filtr: tylko z uczestnikami",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtr: tylko z uczestnikami": {
      "main": [
        [
          {
            "node": "Tworzenie GDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tworzenie GDoc": {
      "main": [
        [
          {
            "node": "Dodanie treści do Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dodanie treści do Doc": {
      "main": [
        [
          {
            "node": "Pobranie treści",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobranie treści": {
      "main": [
        [
          {
            "node": "Parse & Format",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Tasks for OmniFocus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Format": {
      "main": [
        [
          {
            "node": "Wyślij do uczestników",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wyślij do Omnifocus": {
      "ai_tool": [
        [
          {
            "node": "Extract Tasks for OmniFocus",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analiza": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Tasks for OmniFocus",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "versionId": "c91587dc-9442-4bf6-a529-157d4e6d44fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5041f641934aa792852904835b502128e2ce798bfd58498a58d29cc32ad3791"
  },
  "id": "65oIMSHcPrg2IdoW",
  "tags": [
    {
      "updatedAt": "2025-12-07T19:11:29.649Z",
      "createdAt": "2025-12-07T19:11:29.649Z",
      "id": "dlcjIsNmmUQmjsXC",
      "name": "automation"
    },
    {
      "updatedAt": "2025-12-18T10:02:18.602Z",
      "createdAt": "2025-12-18T10:02:18.602Z",
      "id": "ucE2xSqoJOjmcPRF",
      "name": "productivity"
    }
  ]
}